Options All -Indexes

DirectoryIndex default.php default.html default.asp default.htm default.app

AddType application/octet-stream .pdf
AddType application/octet-stream .zip
AddType application/octet-stream .mov
AddType application/octet-stream .png
AddType application/octet-stream .mp4
AddType application/octet-stream .gif
AddType application/octet-stream .jpg
AddType application/octet-stream .jpj

<files ".htaccess">
    order allow,deny
    deny from all
</files>

## Redirects example.com/cool-page.html to example.com/cool-page
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteCond %{REQUEST_URI} ^(.+)\.html$
RewriteRule (.*)\.html$ /$۱ [R=301,L]

## RewriteEngine On
## RewriteCond %{HTTPS} off
## RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 401 /errors/401.html
ErrorDocument 404 /errors/404.html